header{
    width: 100%;
    color: white;
    background-color: #273142;
    font-size: 32px;
    font-weight: 600;
    padding-block: 13px !important;
    text-align: center;
}

h1{
    font-size: 39px;
    color: white;
    margin-top: 50px;
    text-align: center;
}

main{
    width: 90%;
    height: 70%;
    background-color: #273142;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14.2% 33.2%;
    margin-top: 50px;
    border: 1px solid #313D4F;
    border-radius: 11px;
}

main form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: white;
    width: 335px;
    align-items: center;
}

form div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 335px;
}

form div input {
    height: 48px;
    background-color: #323D4E;
    outline: 7px solid rgb(207, 207, 207, 0.11);
    border-radius: 4px;
    padding: 14px;
    color: white;

    &::placeholder{
        font-size: 13px;
    }
}

form button{
    width: 274px;
    height: 56px;
    font-size: 18px;
    background-color: #4880FF;
    color: white;
    border-radius: 11px;
    font-weight: normal;
}